.accordion-container {
  max-width: 30rem;
}

.header-text {
  color: #ee6c4d;
  font-size: 4rem;
  text-align: center;
}

// Form
form {
  label {
    color: #fff;
  }
  .btn {
    background-color: #98c1d9;
  }
}

// Posts
h2 {
  color: #f5f5f5;
}

// Accordion
.accordion-bg {
  padding: 1rem;
  border-radius: 0.6rem;
}

@media (min-width: 997px) {
  .table-container {
    margin: -2rem 3rem 0 3rem;
  }

  
}
