@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
body {
  font-family: 'Chivo', sans-serif;
}

.accordion-container {
  max-width: 30rem;
}

.header-text {
  color: #ee6c4d;
  font-size: 4rem;
  text-align: center;
}

form label {
  color: #fff;
}

form .btn {
  background-color: #98c1d9;
}

h2 {
  color: #f5f5f5;
}

.accordion-bg {
  padding: 1rem;
  border-radius: 0.6rem;
}

.menu-box {
  display: none;
}

.menu-box p {
  margin: 0 0 0.4rem 0;
  padding: 0 0.8rem;
  border-radius: 0.3rem;
}

.menu-box p:hover {
  background-color: #e0e0e0;
}

.edit-form-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.edit-form-modal form {
  width: 20rem;
  margin: 15rem auto;
  padding: 2rem;
  border-radius: 0.6rem;
}

.edit-form-modal form button {
  margin-left: 1.5rem;
}

@media (min-width: 997px) {
  .table-container {
    margin: -2rem 3rem 0 3rem;
  }
  .accordion-container {
    max-width: 40rem;
  }
  .menu-box {
    display: none;
  }
  .edit-form-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .edit-form-modal form {
    width: 30rem;
    margin: 15rem auto;
    padding: 2rem;
    border-radius: 0.6rem;
  }
  .edit-form-modal form button {
    margin-left: 2.5rem;
  }
}
