.accordion-container {
  max-width: 30rem;
}

.header-text {
  color: #ee6c4d;
  font-size: 4rem;
  text-align: center;
}

form {
  label {
    color: #fff;
  }
  .btn {
    background-color: #98c1d9;
  }
}

.accordion-bg {
  padding: 1rem;
  border-radius: 0.6rem;
}
