

.accordion-container {
    max-width: 30rem;
}

.header-text {
    color: #EE6C4D;
    font-size: 4rem;
    text-align: center;
}

form {
    label {
        color: #fff;
    }

    .btn {
        background-color: #E0FBFC;
    }
}

.accordion-bg {
    padding: 1rem;
    border-radius: 0.6rem;
}